:root {
  --main-text-color: #757575;
  --second-text-color: #212121;
  --accent-color: #2196f3;
  --white: #ffffff;
}

body {
  color: --main-text-color;
  font-family: 'Roboto', sans-serif;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* Header */

.logo {
  text-decoration: none;
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-dark {
  color: black;
}

.logo-light {
  color: var(--white);
}

/* Site nav */

.site-nav-list .link {
  color: var(--second-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav-list .link:hover,
.site-nav-list .link:focus {
  color: var(--accent-color);
}
.site-nav-list .link.current {
  color: var(--accent-color);
}

/* Contacts list */

.contacts-list .link {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts-list .link:hover,
.contacts-list .link:focus {
  color: var(--accent-color);
}
/* Hero */
.hero {
  background-color: #2f303a;
}

.hero-title {
  color: var(--white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  color: var(--white);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/* Features */

.features-list-title {
  color: var(--second-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-list-text {
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* About-us */
.about-us-title,
.team-title {
  color: var(--second-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Team */

.team {
  background-color: #f5f4fa;
}
.team-item-title {
  color: var(--second-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-item-text {
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Portfolio */

.filter-button {
  color: var(--second-text-color);
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--white);
  background-color: var(--accent-color);
}

.btn-current {
  color: var(--white);
  background-color: var(--accent-color);
}

.card-set-item-title {
  color: var(--second-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-set-item-text {
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

/* Footer */
.footer {
  background-color: #2f303a;
}

.footer-address {
  color: var(--white);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-mail,
.footer-tel {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
